/* Cores para todo site Global Color */
:root {
    --defult-color: #e7e7e7; /*cor texto*/
    --background-color: #444; /*bg color*/
    --heading-color: #1c1a1a;/*cor titulos*/
    --accent-color: #0e7adf; /*destaques e Icones*/
    --surface-color:#c3c0c0; /*Fundos e destaques*/
    --contrast-color:#444; /*Contraste para Texto*/
}
/*Nav Menu Color*/
:root {
    --nav-color: #fff;
    --nav-hover-color: #428bca;
    --nav-dropdown-bg-color: #fff;
    --nav-dropdown-hover: #428bca
}

body {
  background-color: var(--background-color);
  color: var(--defult-color);
 
}

a {

    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3;
}

a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 55%);
    text-decoration: none;
}

/* Header */
.header {
    color: var(--defult-color);
    background-color: var(--background-color);
    padding: 15px 0;
    transition: all 0.5s;
    z-index: 997;
}
.header .logo {
    line-height: 1;
}


/* Logo da Empresa*/
.header .logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    color: var(--heading-color);
}

.scrolled .header {
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
    --background-color: rgba (0, 0, 0, 0.85);
}
 
@media(min-width:1200px) {
    .navemenu{
        padding: 0;

    }
    .navemenu ul{
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        align-items: center;

    }

    .navemenu li{
        position: relative;
    }
    .navemenu a,
    .navemenu a:focus {
        color: var(--nav-color);
        padding: 18px 15px;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
    }

    .navemenu a i,
    .navemenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.3s;
        background-color: color-mix(in srgb, var(--accent-color), transparent 80%);
       }

       .navemenu a i:hover, 
       .navemenu a:focus i:hover {
        background-color: var(--accent-color);
        color: var(--contrast-color);

       }
       .navemenu .dropdown ul {
        margin: 0;
        padding: 10px 0;
        display: block;
        position: absolute;
        visibility: hidden; /*   */
        left: 14px;
        top: 130%;
        opacity: 0;  /*  */
        border-radius: 4px;
        z-index: 99;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
       }

       .navemenu .dropdown ul li {

        width: 200px;
       }

       .navemenu .dropdown ul a {
        padding: 10px 20px;
        font-size: 15px;
        text-transform: none;
        color: var(--defult-color);
       }
.navemenu .dropdown:hover>ul{
   
    left: -90%;
    visibility: visible;
    opacity: 1;
}

}

/* Menu Mobile */
/* largura ou comprimento ate 0 valor do Media */
@media (max-width: 1199px) {
    .mobile-nav-toggle {
      color: var(--nav-color);
      font-size: 28px;
      line-height: 0;
      margin-right: 10px;
      cursor: pointer;
      transition: color 0.3s;
    }
  
    .navmenu {
      padding: 0;
      z-index: 9997;
    }
  
    .navmenu ul {
      display: none;
      list-style: none;
      position: absolute;
      inset: 60px 20px 20px 20px;
      padding: 10px 0;
      margin: 0;
      border-radius: 6px;
      background-color: var(--nav-mobile-background-color);
      overflow-y: auto;
      transition: 0.3s;
      z-index: 9998;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }
  
    .navmenu a,
    .navmenu a:focus {
      color: var(--nav-dropdown-color);
      padding: 10px 20px;
      font-family: var(--nav-font);
      font-size: 17px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      transition: 0.3s;
    }
  
    .navmenu a i,
    .navmenu a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: 0.3s;
      background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
    }
  
    .navmenu a i:hover,
    .navmenu a:focus i:hover {
      background-color: var(--accent-color);
      color: var(--contrast-color);
    }
  
    .navmenu a:hover,
    .navmenu .active,
    .navmenu .active:focus {
      color: var(--nav-dropdown-hover-color);
    }
  
    .navmenu .active i,
    .navmenu .active:focus i {
      background-color: var(--accent-color);
      color: var(--contrast-color);
      transform: rotate(180deg);
    }
  
    .navmenu .dropdown ul {
      position: static;
      display: none;
      z-index: 99;
      padding: 10px 0;
      margin: 10px 20px;
      background-color: var(--nav-dropdown-background-color);
      border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
      box-shadow: none;
      transition: all 0.5s ease-in-out;
    }
  
    .navmenu .dropdown ul ul {
      background-color: rgba(33, 37, 41, 0.1);
    }
  
    .navmenu .dropdown>.dropdown-active {
      display: block;
      background-color: rgba(33, 37, 41, 0.03);
    }
  
    .mobile-nav-active {
      overflow: hidden;
    }
  
    .mobile-nav-active .mobile-nav-toggle {
      color: #fff;
      position: absolute;
      font-size: 32px;
      top: 15px;
      right: 15px;
      margin-right: 0;
      z-index: 9999;
    }
  
    .mobile-nav-active .navmenu {
      position: fixed;
      overflow: hidden;
      inset: 0;
      background: rgba(33, 37, 41, 0.8);
      transition: 0.3s;
    }
  
    .mobile-nav-active .navmenu>ul {
      display: block;
    }
  }
  /* Global Sections */
  section,
  .section {
    color: var(--defult-color);
    background-color: var(--background-color);
    padding: 60px 0;
  }
.dark-background {
    --background-color: #060606;
    --default-color: #f1f0f0;
    --heading-color: #f1f0f0;
    --surface-color: #252525;
}
  /* Hero */

  .hero {
    padding: 0;
  }

  .hero .carousel {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    position: relative;

  }
  .hero img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .hero .carousel-item {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .hero .carousel-item::before {
    content: "";
    position: absolute;
    background-color: color-mix(in srgb, var(--background-color), transparent 30%);
    inset: 0;
    z-index: 2;

  }